<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art & Deco - Muebles Residenciales</title>
    <style>
        /* Estilos Generales */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        /* Estilo para el encabezado */
        header {
            background-color: rgba(255, 0, 0, 0.7); /* Rojo con 70% de opacidad */
            color: white;
            text-align: center;
            padding: 50px 0;
        }

        /* Estilo para la sección de Muebles Residenciales */
        #muebles-residenciales {
            padding: 40px;
            background-color: #f4f4f4;
            text-align: center;
        }

        #muebles-residenciales ul {
            list-style-type: none;
            padding: 0;
        }

        #muebles-residenciales li {
            font-size: 1.2em;
            margin: 10px 0;
        }

        /* Estilo para la sección del Catálogo */
        #catalogo {
            padding: 40px;
            background-color: #e1e1e1;
            text-align: center;
            display: none; /* Inicialmente está oculto */
            margin-top: 50px;
        }

        #catalogo h3 {
            font-size: 2em;
        }

        #catalogo ul {
            list-style-type: none;
            padding: 0;
        }

        #catalogo li {
            font-size: 1.2em;
            margin: 10px 0;
        }

        /* Estilo para el enlace que despliega el catálogo */
        .catalog-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: #FF0000;
            color: white;
            text-decoration: none;
            font-size: 1.2em;
            margin-top: 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .catalog-link:hover {
            background-color: #D32F2F;
        }

    </style>
</head>
